body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 100px;
  margin-top: 20px;
}

header {
  margin-bottom: 50px;
}

sup {
  font-size: 50%;
  position: relative;
  top: -10px;
}

h1 {
  font-size: 200%;
}

section>div {
  display: inline-block;
  margin-right: 100px;
  border: 1px solid #aaa;
  text-align: center;
  cursor: pointer;
  padding: 20px;
}

img {
  width: 200px;
}